<div class="img-viewer {{ imgViewerClass }}">
  <div class="img-viewer-panel">
    <div class="img-viewer-panel-header">
      <div *ngIf="showOperate" class="img-viewer-panel-header-operation">
        <span *ngIf="zoom" (click)="zoomInImg()">
          <img
            src="../../assets/icons/zoom-in.svg"
            alt="Zoom In"
            title="Zoom In"
            width="16"
            height="16"
          />
        </span>
        <span *ngIf="zoom" (click)="zoomOutImg()">
          <img
            src="../../assets/icons/zoom-out.svg"
            alt="Zoom out"
            title="Zoom out"
            width="16"
            height="16"
          />
        </span>
        <span *ngIf="rotate" (click)="rotateImg(false)">
          <img
            src="../../assets/icons/counter-clockwise.svg"
            alt=" Rotate Left"
            title=" Rotate Left"
            width="16"
            height="16"
          />
        </span>
        <span *ngIf="rotate" (click)="rotateImg(true)">
          <img
            src="../../assets/icons/clockwise.svg"
            alt="Rotate Right"
            title="Rotate Right"
            width="16"
            height="16"
          />
        </span>
        <span *ngIf="reset" (click)="showImg()">
          <img
            src="../../assets/icons/reset.svg"
            alt="Reset"
            title="Reset"
            width="16"
            height="16"
          />
        </span>
        <span *ngIf="fullscreen" (click)="fullscreenImg()">
          <img
            src="../../assets/icons/fullscreen.svg"
            alt="Full Screen"
            title="Full Screen"
            width="16"
            height="16"
          />
        </span>
        <span *ngIf="download" (click)="downloadImg()">
          <img
            src="../../assets/icons/download.svg"
            alt="Download"
            title="Download"
            width="16"
            height="16"
          />
        </span>
      </div>
    </div>
    <div
      class="img-viewer-panel-body"
      [class.img-viewer-panel-body-has-footer]="images.length > 1"
    >
      <div class="img-viewer-panel-body-content"></div>
      <span
        *ngIf="images.length > 1"
        class="img-viewer-panel-body-prev"
        (click)="prevImg()"
        ><p>L</p></span
      >
      <span
        *ngIf="images.length > 1"
        class="img-viewer-panel-body-next"
        (click)="nextImg()"
        ><p>R</p></span
      >
    </div>
    <div *ngIf="images.length > 1" class="img-viewer-panel-footer">
      {{ currentImgIndex }} / {{ imgTotal }}
    </div>
  </div>
</div>
